.categories {
    padding: 20px;
    margin-top: 40px;
  }
  
  .category-section {
    margin-bottom: 35px;
  }

  .categories h1{
    text-align: center;
  }
  
  .category-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left; /* Align the header to the left */
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Adds space between cards */
    margin-left: 70px;
  }
  
  .category-card {
    width: 18rem;
    cursor: pointer;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
  }
  
  .category-card-img {
    height: 150px; /* Set a specific height for the images */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
  .category-card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; /* Center text horizontally */
    justify-content: center; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    background-color: rgb(204, 204, 159);
  }
  
  .category-card-title {
    margin-top: 15px;
  }
  
  .category-card-text {
    font-size: 1rem;
    color:rgba(46, 46, 46, 0.753);
  }
  